fastapi==0.107.0           # Web framework for building APIs
uvicorn[standard]==0.23.1
SQLAlchemy==2.0.48     
pydantic==2.12.5            
Jinja2==3.1.6              
pytest==9.0.2               # Testing framework
      # ORM for interacting with databases
          # Templating for HTML responses
geopy==2.4.1	
